/* Global Styles */

body {
	margin:0px;
	
	.trigger{
	cursor: pointer;
	cursor: hand;
	}
	
	.branch{
		display: none;
		margin-left: 16px;
	}
}	

td {
	font:10px Arial, Helvetica, sans-serif;
	color:#666666;
	text-align:center;
	}


td a
{	/* display: block; */
}


td a:link
{
	color: #493DFF;
	text-decoration: none;
}


td a:visited {
	text-decoration: none;
	color: #40000F;
}

td a:hover {
	color: #5C743D;
	background-color:lightgrey
}

td a:active {
	text-decoration: none;
	color: #FF0000;
}

	
a {
	color: #993300;
/*	color: #5C743D; */
}
	
a:hover {
	color: #5C743D;
	background-color:lightgrey
	}

/* ID Styles */

#navigation td {
	border-bottom: 1px solid #F4FFE4;
	}
	
#navigation a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #D5EDB3;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 20px;
	}
	
#navigation a:hover {
	background: #99CC66;
	color:#993300;
	}
	
#logo 	{
	font:24px Arial, Helvetica, sans-serif;
	color: #5C743D;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 1px dashed #5C743D;
	}
		
#dateformat {
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	font-weight:bold;
	letter-spacing:.1em;
	text-decoration:none;
	}
	
#dateformat a:hover {
	color: #F4FFE4;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:20px;
	margin-top:0px;
	}
	
.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color: #99CC66;
	background: #759DA1;
	line-height:26px;
	letter-spacing:.10em;
	}

.titleBarName1{
	font: 12px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:22px;	}
	
.sectionTitleName1{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #5E3F05;
	background: #759DA1;
	line-height:22px;	}
	
.sectionTitleName2{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #003366;
	background: #A7C7CA;
	line-height:22px;	}

.sectionTitleName3{
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #003366;
	background: #8BCC7F;
	line-height:22px;	}


.sectionSubTitleName1{
	font: 13px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:22px;	}
	
		
			
.subHeader {
	font:bold 11px Arial, Helvetica, sans-serif;
	color: #993300;
	line-height:22px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}


.smallText1 {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
		
.smallText2 {
	font: 11px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 18px;
	}

.smallTextBold2 {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 16px;
}
	
.smallText3 {
	font: 12px Calibri, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
		
.navText {
	font: 11px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}

.tipText {
	font: 13px Arial, Helvetica, sans-serif;
	color: #C400FF;
	line-height:16px;
	text-decoration: none;
	}		
	
.tableHeader1{
	font: 11px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:20px;	}
	
	
